{% extends "lightHeroNav.html" %}
{% block page_content %}
<div class="content-container container w-75">
    <div class="forgot-password-standalone-wrapper container">
        <div class="forgot-password-modal container w-50">
            <div class="forgot-password-header">
                <h4 class="forgot-password-title mt-5 text-center">Set New Password</h4>
            </div>
            {% if validlink %}
            <form method="post">
                {% csrf_token %}
                <div class="forgot-password-body">
                    <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}<p class="forgot-password-error">{{ form.new_password1.errors.0 }}</p>{% endif %}
                </div>
                <div class="forgot-password-body">
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}<p class="forgot-password-error">{{ form.new_password2.errors.0 }}</p>{% endif %}
                </div>
                <div class="forgot-password-footer">
                    <button type="submit" class="btn forgot-password-submit-btn">Reset Password</button>
                </div>
            </form>
            {% else %}
            <div class="forgot-password-body">
                <p>This password reset link is invalid, possibly because it has already been used or has expired.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock page_content %}