* {
    /* outline: 2px solid blue; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*  Reset all elements on the page */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg {
    width: 20px;
    height: 20px;
}
.nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 60px;
}

.child-list1, .child-list2 {
    display: flex;
    list-style: none;
    margin-top:10px;
}
.child-list1 li {
    padding: 10px;
    margin: 5px 15px;
}
.child-list2 li{
    margin-right: 40px;
}
.help-call p a {
    text-decoration: none;
    color: #1DA1F2;
    letter-spacing: 0.05em;
} 
.help-call p {
    position: relative;
    bottom: 2px;
}
.whatsapp-icon {
    width: 40px;
    height: 35px;
    margin-top: 10px;
}
.country-icon {
    display: flex;
    justify-content: center;
    gap: 6px;
    border: 1px solid rgb(205, 199, 199);
    border-radius: 20px;
    width: 4.5rem;
    height: 2rem;
    margin-top: 10px;
}
.country-icon img {
    width: 18px;
    height: 18px;
    margin-top: 8px;
}
.country-icon span {
    margin-top: 10px;
    font-size: 0.6rem;
}

.hero {
    background-color: #ECE8D9;

}
.hero-nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 10px auto;
    gap: 0.5rem;
}
.hero-nav h3 {
    font-weight: 800;
    font-size: 2.5rem;
    margin: 30px 55px;
    color: #6A7D93;
}
.hero-navList-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 20px 2px;
}

.navList-item1, .navList-item2 {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    list-style-type: none;
}
.navList-item1 li, .navList-item2 li {
    margin: 15px 15px;
}
.navList-item1 li a, .navList-item2 li a  {
    text-decoration: none;
    color: #6A7D93;
    font-weight: 700;
    letter-spacing: 0.09em;
    font-size: 0.82rem;

}

.hero-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 70px;
}

.hero-main-text div {
    font-weight: 400;
    font-size: 67.2px;
    font-style: normal;
    font-family: "DM Serif", serif;
    margin-left: 50px;
    color: #384A62;
}
.shipped-text {
    display: grid;
    justify-content: flex-start;
}
.shipped-text  span{
    font-weight: 600;
    font-size: 24px;
    color: #708095;
    font-family: "SF Pro", sans-serif;
    line-height: 6px;
    margin: 1px 10px;
}

.hero-main-text p {
    font-weight: 700;
    font-size: 16px;
    font-family: "SF Pro", sans-serif;
    margin-top: 45px;
    margin-left: 50px;
}

.hero-main-searchContainer{
    height: 5rem;
    width: 40rem;
    display: grid;
    justify-content: center;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;

}
.hero-main-searchContainer input{
    width: 29rem;
    font-size: 15px;
    color: #6A7D93;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;

}

.hero-main-searchContainer input:focus {
    border: none;
    outline: none;
}
.hero-main-hand img{
    width: 28rem;
    margin-top: 30px;
}
.productTitle{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.productTitle h3 {
    position: relative;
    left: 45px;
}

.productTitle p {
    position: relative;
    right: 55px;
    color: red;
    font-weight: 100;
    font-size: 15px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 40px;
}
.card {
    display: grid;
    border: 2px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.card img {
    height: 250px;
    width: 300px;
    margin: auto;
    
}
.card h5, .card p, .card button {
    margin: 10px 30px;
}
.product-price {
    font-weight: 900;
}
.card button {
    width: 9rem;
    background-color: #384A62;
    color: #ffffff;
}


/* PRODUCT DETAILS STYLING */
.hero-nav-logo {
    margin-top: 20px;
}
.hero-nav-logo .logo-txt {
    font-size: 3rem;
    font-weight: 600;
} 
.hero-home-nav a {
    text-decoration: none;
    color: #708095;
    margin-left: 15px;
}
.hero-prod-nav a {
    text-decoration: none;
    color: #708095;
    font-weight: 900;
}

.hero-searchContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}
.searchContainer{
    height: 3rem;
    width: 16rem;
    margin-right: 5rem;
    align-items: center;
    border: 1px solid #708095;
    border-radius: 3px;
    background-color: #ffffff;

}
.searchContainer input{
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;
    margin: auto 20px;

}

.searchContainer input:focus {
    border: none;
    outline: none;
}
.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}
.sidebar ul, .sidebar ul li{
    list-style-type: none;
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #708095;
    font-weight: 700;
    font-size: 12px;
}

/* SINGLE PRODUCT STYLING */
.productDetailContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    height: 70dvh;
    margin: auto;
}
.productImage img {
    width: 70%;
    height: 80%;
    margin: 3rem 3rem;
}
.productTitle{
    font-size: 3em;
    font-weight: 700;
}
.productDescription {
    font-size: 18px;
    line-height: 2rem;
    text-wrap: "balance";
}
.material, .finishing {
    font-weight: 800;
    margin-top: 10px;
}

.productFinishing {
    margin-bottom: 20px;
}
.productInfo select {
    border: 1px solid #708095;
    margin-top: 10px;
    width: 10.5rem;
    height: 2.3rem;
}

.productInfo button {
    border: 1px solid #D77F81;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    color: #ffffff;
    padding: 5px;
    font-weight: 800;
    margin-left: 20px;
    background-color: #D77F81;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* SIGN IN FORM */
.modal-content {
    display: flex;
    flex-direction: row;
    overflow: hidden; 
}

.signin-bg {
    flex: 0 0 40%;     
    background-image: url(../images/signin-lamp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;       
}

.modal-body button {
   align-self: flex-end;
}
.forgotPassword {
    color: #708095;
}