* {
    /* outline: 2px solid blue; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #384A62;
}

svg {
    width: 20px;
    height: 20px;
}
.nav-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
    height: 60px;
    /* margin-top:2px;; */
}

.child-list1, .child-list2 {
    display: flex;
    /* justify-content: center; */
    /* justify-self: center; */
    /* align-content: center; */
    /* align-items: center; */
    text-align: center;
    list-style: none;
    
    /* gap: 20px; */
    /* margin: 10px 10px; */
}
.child-list1 li {
    /* justify-self: center; */
    padding: 10px;
    /* align-self: center; */
    /* margin: 5px; */
    /* display: flex;
    gap: 20px; */
}
.child-list2 li{
    margin-right: 40px;
}
.help-call p {
    position: relative;
    bottom: 20px;
}
/* .child-list2 li img {
    width: 18px;
    height: 20px;
} */
.whatsapp-icon {
    width: 40px;
    height: 35px;
}
.country-icon {
    display: flex;
    justify-content: center;
    gap: 6px;
    border: 1px solid rgb(205, 199, 199);
    border-radius: 20px;
    width: 4.5rem;
    height: 2rem;
}
.country-icon img {
    width: 18px;
    height: 18px;
    margin-top: 8px;
}
.country-icon span {
    /* text-align: center; */
    /* padding: 6px; */
    margin-top: 10px;
    font-size: 0.6rem;
}

.hero {
    background-color: #ECE8D9;

}
.hero-nav {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px 40px;
    gap: 10rem;
}
.hero-nav h3 {
    font-weight: 800;
    font-size: 1.5rem;
}
.hero-navList-container {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
}

.navList-item1, .navList-item2 {
    display: flex;
    padding: 10px;
    /* justify-content: space-between; */
    list-style-type: none;
}
.navList-item1 li, .navList-item2 li {
    margin: 10px 15px;
    font-weight: 600;
    font-size: 0.8rem;
}
.navList-item1 li a {
    text-decoration: none;
    color: #708095;

}

.hero-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.hero-main-text {
    margin: 50px 40px;
}

.hero-main-text div {
    font-weight: 800;
    font-size: 3rem;
}
.shipped-text {
    display: grid;
    justify-content: flex-start;
}
.shipped-text  span{
    font-weight: 700;
    /* color: transparet; */
    font-size: 1rem;
    word-spacing: 8px;
    color: #708095;
    margin-top: 10px;
}

.hero-main-text p {
    font-weight: 600;
    margin-top: 60px;
}

.hero-main-searchContainer{
    height: 5rem;
    width: 37rem;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;

}
.hero-main-searchContainer input{
    height: 3rem;
    width: 29rem;
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;
    margin: auto 20px;

}

.hero-main-searchContainer input:focus {
    border: none;
    outline: none;
}
.hero-main-hand img{
    width: 35rem;
    margin-top: 50px;
}
.productTitle{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.productTitle h3 {
    position: relative;
    left: 45px;
}

.productTitle p {
    position: relative;
    right: 55px;
    color: red;
    font-weight: 100;
    font-size: 15px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 0 40px;
}
.card {
    display: grid;
    border: 2px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}
.card img {
    height: 250px;
    width: 300px;
    margin: auto;
    
}
.card h5, .card p, .card button {
    margin: 10px 30px;
}
.product-price {
    font-weight: 900;
}
.card button {
    width: 9rem;
    background-color: #384A62;
    color: #ffffff;
}


/* PRODUCT DETAILS STYLING */
.hero-nav-logo {
    margin-top: 20px;
}
.hero-nav-logo .logo-txt {
    font-size: 3rem;
    font-weight: 600;
} 
.hero-home-nav a {
    text-decoration: none;
    color: #708095;
    margin-left: 15px;
}
.hero-prod-nav a {
    text-decoration: none;
    color: #708095;
    font-weight: 900;
}

.hero-searchContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
}
.searchContainer{
    /* display: flex; */
    height: 3rem;
    width: 16rem;
    /* justify-self: flex-end;
    align-self: flex-start; */
    /* margin-top: 0; */
    margin-right: 5rem;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid #708095;
    border-radius: 3px;
    background-color: #ffffff;

}
.searchContainer input{
    /* height: 3rem; */
    /* width: 16rem; */
    border: 2px solid #ffffff;
    border-radius: 3px;
    background-color: #ffffff;
    margin: auto 20px;

}

.searchContainer input:focus {
    border: none;
    outline: none;
}
.category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}
.sidebar ul, .sidebar ul li{
    list-style-type: none;
    margin-bottom: 15px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #708095;
    font-weight: 700;
    font-size: 12px;
}
.productDetailContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
