{% extends "common.html" %}
{% block content %}
{% load static %}


<div class="hero-navContainer">
    <nav class='hero-nav'>
            <h3>printivo <br><span><a href="{% url "home" %}">Home</a></span> <span>All Products</span></h3>
            <div class="hero-navList-container">
                <ul class='navList-item1'>
                    <li><a href="">All Product</a> </li>
                    <li><a href="">Become a Reseller</a> </li>
                    <li><a href="">Merch Store</a> </li>
                    <li><a href="">Marketplace</a> </li>
                </ul>

                <ul class='navList-item2'><a href=""></a> 
                    <li>Sign in</li>
                    <li>Create Account</li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>cart-outline</title><path d="M17,18A2,2 0 0,1 19,20A2,2 0 0,1 17,22C15.89,22 15,21.1 15,20C15,18.89 15.89,18 17,18M1,2H4.27L5.21,4H20A1,1 0 0,1 21,5C21,5.17 20.95,5.34 20.88,5.5L17.3,11.97C16.96,12.58 16.3,13 15.55,13H8.1L7.2,14.63L7.17,14.75A0.25,0.25 0 0,0 7.42,15H19V17H7C5.89,17 5,16.1 5,15C5,14.65 5.09,14.32 5.24,14.04L6.6,11.59L3,4H1V2M7,18A2,2 0 0,1 9,20A2,2 0 0,1 7,22C5.89,22 5,21.1 5,20C5,18.89 5.89,18 7,18M16,11L18.78,6H6.14L8.5,11H16Z" /></svg></li>
                </ul>
            </div>
        </nav>

</div>
<div>
    <search class='hero-main-searchContainer'>
        <input type="search" placeholder='Search for any product'>
    </search>
    <div>
        <img src="">
    </div>
</div>

<section>
    <aside>
        <h4>Filter</h4>
        <hr>
        <ul>
            <li><a href="">All</a></li>
            <li><a href="">Bags</a></li>
            <li><a href="">Banners & Large Format</a></li>
            <li><a href="">Brochures</a></li>
            <li><a href="">Business Card</a></li>
            <li><a href="">Calendar</a></li>
            <li><a href="">Campaign Materials</a></li>
            <li><a href="">ClotheTag</a></li>
            <li><a href="">Cap & Hat</a></li>
            <li><a href="">Clothing & Apparel</a></li>
            <li><a href="">Comic Republic</a></li>
            <li><a href="">Coporate Gifts</a></li>
            <li><a href="">Envelops</a></li>
            <li><a href="">Flyers & Handbills</a></li>
            <li><a href="">Frames & Wall Arts</a></li>
            <li><a href="">Greeting Cards</a></li>
            <li><a href="">ID Card</a></li>
            <li><a href="">Labels</a></li>
            <li><a href="">Letter Heads</a></li>
            <li><a href="">Mugs</a></li>
            <li><a href="">Notepads & Jotters</a></li>
            <li><a href="">Posters</a></li>
            <li><a href="">Presentation Folders</a></li>
            <li><a href="">Promotional Items</a></li>
            <li><a href="">Stickers</a></li>
            <li><a href="">Umbrella</a></li>
            <li><a href="">Wedding Staionery</a></li>
        </ul>
    </aside>
    <main class="all_product">
        <h2>Bags</h2> 
        {% if product %}
        <div class='card-container'>
            {% for prd in product  %}
            <div class='card'>
                {% if prd.image %}
                <img src="{{prd.image.url}}" alt="product-image">
                {% else %}
                <img src="{{prd.image}}" 
                alt="product-image">
                {% endif %}
                <h5 class='product-title'>{{prd.title}}</h5>
                <p class='product category'>{{prd.category}}</p>
                <p class='prd-price'>${{product.price}}</p>
                <button type="button"><a href="{% url "productDetails" prd.id %}">Add to cart</a></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </main>
</section>
{% endblock %}