{% extends "common.html" %}
{% block content %}
{% load static %}

<!-- HEADER NAV INSIDE HERO SECTION -->
<section class='hero'>
    <nav class='hero-nav'>
        <a href="{% url "home" %}" class="text-decoration-none"><img src="{% static "images/printivo logo.svg" %}" alt=""></a>

        <div class="hero-navList-container">
            <ul class='navList-item1'>
                <li><a href="{% url "allProducts" %}">All Product</a> </li>
                <li><a href="{% url "reseller" %}">Become a Reseller</a> </li>
                <li><a href="">Merch Store</a> </li>
                <li><a href="">Marketplace</a> </li>
            </ul>

            <ul class='navList-item2'>
                {% if request.user.is_authenticated %}
                <li ><form method="post" action="{% url 'logout' %} " class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link text-decoration-none fw-2 text-danger p-0 border-0 align-baseline">Sign out</button>
                    </form>
                </li>
                {% if not request.user.is_staff %}
                <li ><a href="{% url "logout" %}" class="text-danger">Profile</a></li>
                {% endif %}
                {% else %}
                <li ><a href="{% url "login" %}" class="text-danger text-decoration-none" data-bs-toggle="modal" data-bs-target="#loginModal">Sign in</a></li>
                    <li><a href="">Create Account</a></li>
                {% endif %}
                    {% if request.user.is_staff and request.user.is_authenticated %}
                <li class="dropdown">
                    <p class=" dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <a href="">Profile</a>
                    </p>
                    
                    <ul class="dropdown-menu w-50">
                        <li><a href="{% url "add-category" %}">Add Category</a></li>
                        <li><a href="{% url "add-products" %}">Add Products</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    {% endif %}
                </li>
                <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>cart-outline</title><path d="M17,18A2,2 0 0,1 19,20A2,2 0 0,1 17,22C15.89,22 15,21.1 15,20C15,18.89 15.89,18 17,18M1,2H4.27L5.21,4H20A1,1 0 0,1 21,5C21,5.17 20.95,5.34 20.88,5.5L17.3,11.97C16.96,12.58 16.3,13 15.55,13H8.1L7.2,14.63L7.17,14.75A0.25,0.25 0 0,0 7.42,15H19V17H7C5.89,17 5,16.1 5,15C5,14.65 5.09,14.32 5.24,14.04L6.6,11.59L3,4H1V2M7,18A2,2 0 0,1 9,20A2,2 0 0,1 7,22C5.89,22 5,21.1 5,20C5,18.89 5.89,18 7,18M16,11L18.78,6H6.14L8.5,11H16Z" /></svg></li>
            </ul>
        </div>
    </nav>
    <main class='hero-main'>
        <div class='hero-main-text'>
            <div>Quality Prints</div>
            <div class="shipped-text"><span>Shipped to your doorstep</span></div>
            <p>What would you like to print today?</p>
            <div>
                <search class='hero-main-searchContainer'>
                    <input type="search" placeholder='Search for Business cards, T-shirts, Mugs e.t.c'>
                </search>
                <div>
                    <img src="">
                </div>
            </div>
        </div>
        <div class='hero-main-hand'>
            <img src="https://res.cloudinary.com/dmwfd0zhh/image/upload/q_auto,f_auto/v1623764552/printivo/Card3_n9kqin.png" alt="icon-search" alt="hand-card">
        </div>
    </main>
</section>

<!-- POPULAR PRODUCT -->
<section class='popularProduct-container'>
    <div class='productTitle'>
        <h2>Popular Products</h2>
        <p class="all_product"><a href="{% url "allProducts" %}">See All Products</a></p>
    </div>
    {% if products %}
    <div class='card-container'>
        {% for product in products  %}
        <a href="{% url "productDetails" product.id %}" class="text-decoration-none">
            <div class='card'>
                <img src="{{product.image}}" alt="product-image">
                <h5 class='product-title'>{{product.title}}</h5>
                <p class='starting-at'>STARTING AT</p>
                <p class='product-price'> ₦{{product.price}} <span>per</span></p>
                <button class="">Browse {{product.title | truncatewords:1}} &gt</button>
            </div>
        </a>
        {% endfor %}
    </div>
    {% endif %}
</section>

<!-- POPULAR CATEGORY SECTION -->
 <section class="popularCategory-container">
    <div class="row">
        <div class='productCategory'>
            <h2>Popular Categories</h2>
            <p class="all_product"><a href="{% url "allProducts" %}">See All Categories</a></p>
        </div>
        

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-5 mx-4">
            {% for category in categories  %}
            {% for product in category.prod.all|slice:":1" %}
            <div class="col">
                <div class="card h-100 border-0">
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{category.name}} </h5>
                        <p class=" starting-at card-text">STARTING AT</p>
                        <p class='product-price'> ₦{{product.price_per_quantityOrder}} <span>per {{product.quantity_per_order}}</span></p> 
                        <a href="{% url "browse-products" %}?category_name={{category.name|urlencode}}" class="btn">Browse {{category.name|truncatewords:1}} &gt</a>
                    </div> 
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div> 
    </div>
</section>

     <div class="trusted-companies">
        <div class="nigeria">Nigeria's No. 1 online printing shop <span>👑</span></div>
        <div class="print">Our print services and solutions are trusted by these brands and over 15,000 other businesses in Nigeria.</div>
        <div >
            <img src="{% static "images/trusted-companies.png" %}" alt="">
        </div>
     </div>

         <div class="review-parent-container">
        <div class="review-title">What Customers Say About Us <span>🙌🏾</span></div> 
        <div class="card-container">
            <div class="child-card">
                <div class="social-icon">
                   <img src="{% static "images/twitter-logo-2429.svg" %}" alt="">
                </div>
                <div class="review-container">
                    <div class="name">
                        Amina Ebele  
                       <a href="https://x.com/DeliciousAmina">@DeliciouAmina</a>
                    </div>
                    <div class="review">I am now the unofficial <a href="https://x.com/Printivo">@Printivo</a>  ambassardor. What these guys just pulled to ensure I got my menu cards today is stunning!</div>
                </div>
            </div>
            <div class="child-card">
                <div class="social-icon">
                    <img src="{% static "images/twitter-logo-2429.svg" %}" alt="">
                </div>
                <div class="review-container">
                    <div class="name">Oluwatosin <a href="https://x.com/tosingirlfx">@tosingirlfx</a></div>
                    <div class="review"><a href="https://x.com/olgablark">@Printivo</a>  delivered my mugs in 24hrs. Thank you so much! It's nice doing business with you. More to come.</div>
                </div>
            </div>
            <div class="child-card">
                <div class="social-icon">
                    <img src="{% static "images/twitter-logo-2429.svg" %}" alt="">
                </div>
                <div class="review-container">
                    <div class="name">Oluwatosin <a href="">olgablark</a></div>
                    <div class="review">These guys <a href="">@Printivo</a> are really awesome and affordable. Excellent customer service and delivery too. Thank you</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}